.poke {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.poke-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
}

.poke-name {
    text-align: center;
}